* {
    margin: 0;
    padding: 0%;
  }
  
  body {
    background-color: rgb(238, 236, 236);
    scroll-behavior: smooth;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  
  body a {
    text-decoration: none;
  }
  
  /* Template */
  .container {
    max-width: 1204px;
    margin: auto;
    padding: 0 10px;
  }
  
  /* NAVBAR SECTION */
  /* topbar */
  .topbar {
    width: 100%;
    background-color: #ebeef3;
  }
  
  .topbar a {
    color: #6c6a6a;
  }
  
  .topbar .container {
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 33px;
    font-size: 14px;
  }
  
  .logo_and_nav_section {
    background-color: white;
  }
  
  .logo_and_nav_section .container {
    height: 61px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -2px;
  }
  
  .logo_and_nav_section .logo_container {
    width: 112px;
  }
  
  .logo_and_nav_section .logo_container img {
    width: 100%;
  }
  
  .nav_and_cart_section {
    display: flex;
    gap: 28px;
    position: relative;
    top: -2px;
  }
  
  .nav_and_cart_section nav {
    display: flex;
    align-items: center;
    gap: 36px;
  }
  
  .nav_and_cart_section nav div {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .nav_and_cart_section nav div a {
    color: #444;
    font-size: 16px;
    font-weight: 550;
  }
  
  .goodcart_and_cart_section {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  
  .goodcart_and_cart_section button {
    width: 109px;
    height: 37px;
    border-radius: 20px;
    background-color: #c82506;
    color: white;
    border: 0;
    padding: 0 12px;
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
  }
  
  .goodcart_and_cart_section button:hover {
    cursor: pointer;
  }
  
  .goodcart_and_cart_section button img {
    width: 100%;
  }
  
  .cart_img_container {
    width: 32px;
    margin: 0 13px;
  }
  
  .cart_img_container img {
    width: 100%;
  }
  
  .cart_img_container img:hover {
    cursor: pointer;
  }
  
  /* login section */
  #top {
    font-size: 29px;
    text-align: center;
    padding: 30px 0;
    color: #9a9b9f;
    font-weight: lighter;
  }
  
  #login {
    width: 33%;
    margin: auto;
  }
  
  #header {
    height: 60px;
    display: grid;
    grid-template-columns: 18% 60%;
    font-size: 14px;
    align-items: center;
    font-weight: 200;
    background: white;
  }
  
  #header p:nth-child(1) {
    height: 100%;
    display: flex;
    justify-content: center;
    color: rgb(187, 15, 15);
    border-bottom-style: solid;
    border-bottom-color: rgb(192, 17, 17);
    border-bottom-width: thin;
    align-items: center;
  }
  
  #header p:nth-child(2) {
    margin-left: 40px;
    color: grey;
  }
  
  #header p:nth-child(2) a {
    color: black;
  }
  
  input {
    border: none;
    background: inherit;
    font-size: 18px;
    outline: none;
  }
  
  #form {
    /* box-shadow: 1px 1px 2px white; */
    border: 1px solid rgb(216, 213, 213);
  }
  
  #form div {
    margin: 20px;
    border-bottom-style: solid;
    border-bottom-color: rgb(226, 224, 224);
    border-bottom-width: thin;
    /* height: 40px; */
    margin-top: 45px;
    font-size: 18px;
    color: rgb(97, 96, 96);
  }
  
  #form p {
    margin-bottom: 10px;
  }
  .message{
    text-align:center;
  }
  #form p a {
    margin: 20px;
    color: rgb(187, 28, 28);
    font-size: 13px;
  }
  
  #loginButon {
    /* margin-top: 10px; */
    background: rgb(189, 13, 13);
    color: white;
    display: flex;
    font-size: 17px;
    justify-content: center;
  }
  .doctorsP{
    color: rgb(182, 181, 181);
     margin: 7px;
  }
  button{
    width:100%; 
    border:none; 
    height:100%;
    background: inherit;
  }
  .buttonA{
    background: rgb(189, 13, 13) ;
  }
  .started{
    color: red;
  }
  .buttonP{
    margin-top:15px;
     margin-bottom:15px;
  }
  #noaccount {
    font-size: 13px;
    text-align: center;
    margin: 20px;
    margin-top: 35px;
    margin-bottom: -28px;
    color: rgb(104, 104, 104);
  }
  
  /* ending and footer of page */
  #otherDetails {
    background: rgb(88, 88, 88);
    color: white;
    margin-top: 30px;
    height: 250px;
  }
  
  .detailsAndPages {
    display: grid;
    grid-template-columns: repeat(3, 24%);
    justify-content: center;
    grid-gap: 5%;
  }
  
  .detailsAndPages p {
    color: rgb(153, 147, 147);
  }
  
  li {
    list-style-type: none;
    margin: 7px;
  }
  
  li a {
    color: white;
    font-size: 17px;
  }
  
  .social {
    margin-top: 20px;
    margin-left: 80px;
    font-size: 30px;
  }
  
  .social a {
    margin: 10px;
    color: white;
  }
  
  /* copyright */
  #copyright {
    margin-top: 30px;
    text-align: center;
  }